ul.library-category-list {
    li {
        padding-bottom: 6px;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &:last-child {
            padding: 0;
        }

        &:before {
            content: '\02014\0a0';
        }
    }
}